<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <script>
      setTimeout(() => {
        window.location = '/';
      }, 2000);
    </script>
    <div class="container">
      <% include banner %>
      <div class="row color-crtext font-mine">
        <p>There was an ERROR while logging you in. Redirecting you to HOME.</p>
      </div>
    </div>
  </body>
</html>
