<!-- signup modal -->
<div
class="modal fade"
id="signupModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create an account</h5>
    </div>
    <div class="modal-body">
      It looks like you don't have an account, proceed to create one?
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="cr-button-small color-crtext"
        data-dismiss="modal"
      >
        Close
      </button>
      <button type="button" class="cr-button-small-main">
        Create
      </button>
    </div>
  </div>
</div>
</div>

<!-- not logged in modal -->
<div
class="modal fade"
id="notLoggedInModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Not Logged In</h5>
    </div>
    <div class="modal-body">
      It looks like you have not logged in yet. Please login to include your account name as the publisher of the riddle.
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="cr-button-small color-crtext"
        data-dismiss="modal"
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>

<!-- empty riddle -->
<div
class="modal fade"
id="emptyRiddleModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cannot submit empty riddle</h5>
    </div>
    <div class="modal-body">
      An empty riddle is a riddle in itself.
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="cr-button-small color-crtext"
        data-dismiss="modal"
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>


<!-- empty name -->
<div
class="modal fade"
id="emptyNameModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cannot submit empty name</h5>
    </div>
    <div class="modal-body">
      A man with no name is not for others to call.
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="cr-button-small color-crtext"
        data-dismiss="modal"
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>


<!-- empty answer -->
<div
class="modal fade"
id="emptyAnswerModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cannot submit empty answer</h5>
    </div>
    <div class="modal-body">
      A riddle that questions the existence of the universe, eh?
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="cr-button-small color-crtext"
        data-dismiss="modal"
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>

<!-- thanksRiddleModal -->

<div
class="modal fade"
id="thanksRiddleModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Thank you!</h5>
    </div>
    <div class="modal-body">
      You have made the riddler happy.

      The riddler will verify and approve your riddle so that it can be visible to other users. This is to ensure that no violent riddles are submitted that may erk the users.

      Now it's time for your reward !
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="cr-button-small color-crtext"
        data-dismiss="modal"
      >
        Close
      </button>
      <button
      type="button"
      class="cr-button-small-main"
      data-dismiss="modal"
      onclick="changeLocation('/')"
    >
      Claim
    </button>
    </div>
  </div>
</div>
</div>

<!-- wrongAnswer model -->

<div
class="modal fade"
id="wrongAnswerModel"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Nah</h5>
    </div>
    <div class="modal-body">
      <p>I'm proud to say that this is a wrong answer.</p>
    </div>
    <div class="modal-footer">
      <button
      type="button"
      class="cr-button-small-main"
      data-dismiss="modal"
    >
      Try again
    </button>
    </div>
  </div>
</div>
</div>